* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 ;
}

.App {
  text-align: center;
}

.header img{
  width: 100vw;
}

.header h1{
  padding-top: 1rem ;
  width: 100vw;
  position: relative;
  text-align: center;
  
}

.searchbox{
  text-align: center;
  margin: 2rem;
}

.search{
  text-align: center;
  padding: 0.1rem 2rem 0.1rem 2rem;
  border: 0;
  border-radius: 10px;
  background-color: #67A97B;
  color: white;
}

.buton{
  background:#062226;
  padding: 0.1rem;
  color: white;
  margin-left: 0.5rem;
}

#location{
  background-color: #062226;
  padding: 2rem;
  text-align: center;
}

.location-info{
  background-color: #062226;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.location-info p{
  padding: 1rem;
}

.residents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.residents h2{
  padding-top: 1rem;
}
.card{
  padding: 1rem;
  margin: 1.5rem;
  background-color: #062226;
  display: flex;
  justify-content: space-between;
}

.info-card{
  display: flex;
  flex-direction: column;
}

.info-card p {
  padding: 0.1rem 1rem;
}

.card div img {
  width: 113px;
}



@media only screen and (min-width:769px) {

  .header img{
    width: 99vw;
    height: 40vw;
  }

  .location-info{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .info-card p {
    padding: 0.1rem 1rem;
  }

  .info{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 1rem;
  }

  .card div img {
    width: 10vw;
  }

  .info-card{
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
